In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
numeric_df = pd.read_csv('../new_data/clean_train_numeric.csv')
numeric_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [4]:
categoric_df = pd.read_csv('../new_data/clean_train_categoric.csv')
categoric_df.head()

,SalePrice,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Street_Pave,Alley_Pave,LotShape_IR2,LotShape_IR3,LotShape_Reg,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,208500,False,False,True,False,True,False,False,False,True,...,False,False,False,False,True,False,False,False,True,False
1,181500,False,False,True,False,True,False,False,False,True,...,False,False,False,False,True,False,False,False,True,False
2,223500,False,False,True,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
3,140000,False,False,True,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,250000,False,False,True,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False